
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,300light|Monsterrat:400|Oswald:300,400|Bree+Serif|Merriweather|Vollkorn');
//@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

$font-primary: Lato, sans-serif;
$monsterrat: Monsterrat, serif;
$font-secondary: Merriweather, serif;

.font-title {

  font-family: $font-primary;
  font-weight: 300;
  font-size: 4em;
}

.font-subtitle {
  @extend .font-title;
  font-size: 3em;
}

.font-skinny {

  font-family: $font-primary !important;
  font-weight: 100 !important;
  font-size: 52px !important;
}

.font-reading {

  font-family: $font-secondary !important;
  font-size: 24px;
}

.font-smaller {

  font-size: 20px !important;
}

.font-white {

  color: #fff !important;
}