
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,300light|Oswald:300,400|Bree+Serif|Merriweather|Vollkorn');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

$lato: Lato, sans-serif;
$lato-light: Lato Light, sans-serif;

.font-title {

  font-family: $lato;
  font-weight: 300;
  font-size: 4em;
}

.font-skinny {

  font-family: $lato !important;
  font-weight: 100 !important;
  font-size: 52px !important;
}


.font-white {

  color: #fff !important;
}