@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
@import "fonts";

//-webkit-filter: blur(1px) grayscale(0.8);

.splash-image {

  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 90%;
  background: url(../images/big.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(2px) grayscale(0.1);
}

.splash-article {

  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 90%;
}

.box-fill {

  width: 100%;
  height: 100%;
}

.box-third {
  width: 100%;
  height: 50%;
}

.screen-third {

  width: 100%;
  height: 30vh;
}

.box-center {

  display: block;
  margin: auto auto;
}

.top-pad {

  padding: 15px !important;
}