@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,300light|Monsterrat:400|Oswald:300,400|Bree+Serif|Merriweather|Vollkorn");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 5, ../../sass/_base.scss */
h1 {
  font-size: 2.2rem;
  color: #ef7e60; }

/* line 10, ../../sass/_base.scss */
.test {
  font-size: 1.2rem;
  color: #2176C7; }

/* line 9, ../../sass/_fonts.scss */
.font-title, .font-subtitle {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 4em; }

/* line 16, ../../sass/_fonts.scss */
.font-subtitle {
  font-size: 3em; }

/* line 21, ../../sass/_fonts.scss */
.font-skinny {
  font-family: Lato, sans-serif !important;
  font-weight: 100 !important;
  font-size: 52px !important; }

/* line 28, ../../sass/_fonts.scss */
.font-reading {
  font-family: Merriweather, serif !important;
  font-size: 24px; }

/* line 34, ../../sass/_fonts.scss */
.font-smaller {
  font-size: 20px !important; }

/* line 39, ../../sass/_fonts.scss */
.font-white {
  color: #fff !important; }

/* line 11, ../../sass/styles.scss */
.boxer-logo {
  position: absolute;
  top: 0;
  left: 150px;
  width: 60px;
  height: 60px; }

/* line 20, ../../sass/styles.scss */
.left-pad {
  padding-left: 100px !important; }

/* line 25, ../../sass/styles.scss */
footer {
  padding-top: 30px;
  font-family: Merriweather, serif;
  font-weight: 300;
  color: rgba(184, 184, 184, 0.8); }

/* line 33, ../../sass/styles.scss */
.gray {
  background-color: rgba(184, 184, 184, 0.2) !important; }

/* line 38, ../../sass/styles.scss */
article .how {
  width: 100%;
  min-height: 80vh !important;
  padding-top: 40px;
  padding-bottom: 40px; }

/* line 46, ../../sass/styles.scss */
.cell {
  padding: 20px 20px; }

/* line 50, ../../sass/styles.scss */
.showcase {
  float: left;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 6em;
  padding-right: 7px;
  padding-left: 30px;
  color: rgba(184, 184, 184, 0.8); }

/* line 62, ../../sass/styles.scss */
.splash-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 90%;
  background: url(../images/big-optimized.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(2px) grayscale(0.1);
  transform: scale(1.03); }

/* line 78, ../../sass/styles.scss */
.splash-article {
  background: url(../images/big-optimized.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 90%; }

/* line 90, ../../sass/styles.scss */
.box-fill {
  width: 100%;
  height: 100%; }

/* line 96, ../../sass/styles.scss */
.box-third {
  width: 100%;
  height: 35%; }

/* line 101, ../../sass/styles.scss */
.box-placeholder {
  width: 100%;
  height: 90vh; }

/* line 107, ../../sass/styles.scss */
.screen-third {
  width: 100%;
  height: 30vh; }

/* line 113, ../../sass/styles.scss */
.screen-fourth {
  width: 100%;
  height: 15vh; }

/* line 119, ../../sass/styles.scss */
.box-center {
  display: block;
  margin: 0 auto; }

/* line 125, ../../sass/styles.scss */
.margin-bottom {
  margin-bottom: 20px !important; }

/* line 130, ../../sass/styles.scss */
.input-text {
  /* css 3 */
  border-radius: 5px !important;
  /* mozilla */
  -moz-border-radius: 5px !important;
  /* webkit */
  -webkit-border-radius: 5px !important; }

/* line 140, ../../sass/styles.scss */
.top-pad {
  padding: 15px !important; }
